body {
    padding-top: 56px; /* Espacio para el navbar fijo */
    padding-bottom: 50px; /* Espacio para el footer */
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.badge-danger {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 0.75em;
    margin-left: 5px;
}
